* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.timer {
  display: flex;
  margin-top: 30px;
  margin-left: 30px;

}

.field {
  border: 1px solid grey;
  padding: 10px;
}

.field:not(:last-child) {
  margin-right: 30px;
}

#datetime-picker{
  margin-left: 30px;
  height: 30px;
  border: 1px solid grey;
}